<div class="window-component"></div>
<div class="about">
    <div class="title">
        <img src="./assets/icons/info_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg" alt="info">
        <h3>¿Qué es LinuxUPC?</h3>
    </div>
    <p>
        LinuxUPC es una asociación sin ánimo de lucro, dedicada al estudio y difusión del Software Libre en el seno de la Universitat Politècnica de Catalunya.
    </p>
    <p>
        Los objetivos de la asociación son:
    </p>
    <ol class="list">
        <li>
            Promover y formar en el uso de la cultura, las redes y hardware libre en todos los estamentos de la universidad.
        </li>
        <li>
            Promover, como actividad de extensión universitaria, la participación en proyectos de software, cultura, redes y hardware libres.
        </li>
        <li>
            Promover buenas prácticas en las actividades de especificación, diseño, implementación, implantación y gestión de proyectos de software libre.
        </li>
        <li>
            Promover el uso y la colaboración con proyectos de software libre en las actividades de especificación, implementación, implantación y gestión de proyectos de software libre.
        </li>
    </ol>
</div>