<div class="window-component"></div>
<div class="activities">
    <div class="title">
        <div class="svg-container">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M580-240q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29ZM200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z"/></svg>
        </div>
        <h3>Actividades</h3>
    </div>
    <p>
        Aprende, experimenta y colabora en nuestra comunidad. ¡Únete a nuestros eventos y mejora tus habilidades!" 🚀
    </p>
    <div class="cards">
        <div class="card">
            <img src="./assets/img/install_party.jpeg" alt="event">
            <div class="card-content">
                <h4>📌Install Party</h4>
                <p>¡Instala Linux con nuestra ayuda! Trae tu portátil y te guiaremos en el proceso. Aprenderás los primeros pasos para moverte en este nuevo entorno y aprovechar todo su potencial. 🚀</p>
                <p>📅Fecha: 15 de Marzo, 2025</p>
                <p>📍Lugar: X</p>
                <button>Más Información</button>
            </div>
        </div>
        <div class="card">
            <img src="./assets/img/install_party.jpeg" alt="event">
            <div class="card-content">
                <h4>📌Stream - Linux Basics</h4>
                <p>Te enseñamos desde cero lo que necesitas saber para empezar: gestionar la terminal, archivos, instalar programas y entender la estructura del sistema.</p>
                <p>📅Fecha: 15 de Marzo, 2025</p>
                <p>📍Lugar: X</p>
                <button>Más Información</button>
            </div>
        </div>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    
</div>