<div class="window-component"></div>
<div class="activities">
    <div class="title">
        <div class="svg-container">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M580-240q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29ZM200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z"/></svg>
        </div>
        <h3>Activitats</h3>
    </div>
    <p>Aprèn, experimenta i col·labora en la nostra comunitat. Uneix-te a les nostres activitats i millora les teves habilitats! 🚀</p>
    <div class="cards">
        <div class="card">
            <img src="./assets/img/git_workshop.jpg" alt="event">
            <div class="card-content">
                <h4>📌Git Workshop</h4>
                <p>Aprèn des de zero a usar Git per a gestionar versions de manera eficient i col·laborar en projectes en GitHub sense caos ni arxius versioFinalFinalisima. 😜</p>
                <p>📅Data: 26 de Febrer, 2025</p>
                <p>🕛Hora: 12:00</p>
                <p>⌛Durada: 2h</p>
                <p>📍Lloc: A5001</p>
                <button onclick="location.href='activities.html#git-workshop-2025'">Més Informació</button>
            </div>
        </div>
        <div class="card">
            <img src="./assets/img/install_party.jpeg" alt="event">
            <div class="card-content">
                <h4>📌Install Party</h4>
                <p>Instal·la Linux amb la nostra ajuda! Porta el teu portàtil i et guiarem en el procés. Aprendràs els primers passos per a moure't en aquest entorn i aprofitar tot el seu potencial. 😉</p>
                <p>📅Data: 18 de Setembre, 2024</p>
                <p>🕛Hora: 10:00-19:00</p>
                <p>⌛Durada: 1h</p>
                <p>📍Lloc: A6104-A6105</p>
                <button onclick="location.href='activities.html#install-party-2024'">Més Informació</button>
            </div>
        </div>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    
</div>