<div class="window-component"></div>
<div class="activities">
    <div class="title">
        <img src="../assets/icons/event_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg" alt="icon">
        <h3>Actividades</h3>
    </div>
    <p>
        Aprende, experimenta y colabora en nuestra comunidad. ¡Únete a nuestros eventos y mejora tus habilidades!" 🚀
    </p>
    <div class="cards">
        <div class="card">
            <img src="../assets/img/install_party.jpeg" alt="event">
            <div class="card-content">
                <h4>📌Install Party</h4>
                <p>¡Instala Linux con nuestra ayuda! Trae tu portátil y te guiaremos en el proceso. Aprenderás los primeros pasos para moverte en este nuevo entorno y aprovechar todo su potencial. 🚀</p>
                <p>📅Fecha: 15 de Marzo, 2025</p>
                <p>📍Lugar: Aula de Informática UPC</p>
                <button>Mas Informacion</button>
            </div>
        </div>
        <div class="card">
            <img src="../assets/img/install_party.jpeg" alt="event">
            <div class="card-content">
                <h4>📌Stream - Linux Basics</h4>
                <p>Te enseñamos desde cero lo que necesitas saber para empezar: gestionar la terminal, archivos, instalar programas y entender la estructura del sistema.</p>
                <p>📅Fecha: 15 de Marzo, 2025</p>
                <p>📍Lugar: Aula de Informática UPC</p>
                <button>Mas Informacion</button>
            </div>
        </div>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    
</div>