.about-component {
    position: relative;
    padding: 20px;
    height: fit-content;

    /* Establecer maxima altura */
    max-height: 100%;
    overflow-y: hidden;
}

/* Usado por overflow.js */
.overflow {
    height: 100%;
    /*
    Basicamente lo que hace esto es que 
    al poner el componente a una altura predeterminada
    el elemento .list puede detectar correctamente
    que hay un overflow y activa el scroll de la lista.
    
    Por defecto la altura del componente es fit-content
    cosa que es util para ajustarlo si no hay altura
    de sobras para el contenido. Evitando un componente
    que tiene un gran especio en "blanco".
    */
}

.about-component .window-component {
    position: absolute;
    top: 0;
    left: 0;
}

.about {
    position: relative;
    pointer-events: none;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;

    /* Establecer maxima altura */
    max-height: 100%;
    overflow-y: hidden;
}

.about > .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: fit-content;
}

.about > .title img {
    height: 64px;
    object-fit: contain;
}

.about > .title h3 {
    font-family: Ubuntu;
    font-style: normal;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: none;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: start;
    align-self: center;
}

.about p, .about li {
    font-family: Ubuntu;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: none;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: justify;
    width: fit-content;
}

.about > :not(.title) {
    margin-left: 10px;
}

.about > .list {
    display: flex;
    flex: 1;
    pointer-events: all;
    flex-direction: column;
    gap: 10px;
    border-radius: 12.5px;
    list-style: decimal inside;
    padding-right: 3px; /* Padding con el scrollbar */
    
    /* Scroll de la lista */
    max-height: 100%;
    overflow-y: auto;
}

.about > .list li {
    background: rgba(105, 105, 105, 0.65);
    border-radius: 12.5px;
    padding: 10px;
}

/* Estilos para la barra de scroll */
.about > .list::-webkit-scrollbar {
    width: 10px;
}

.about > .list::-webkit-scrollbar-track {
    background: rgba(29, 29, 29, 1);
    border-radius: 8px;
}

.about > .list::-webkit-scrollbar-thumb {
    background: rgba(105, 105, 105, 0.65); 
    border-radius: 8px; 
    border: 2px solid rgba(29, 29, 29, 1);
}

.about > .list::-webkit-scrollbar-thumb:hover {
    background: rgba(150, 150, 150, 0.75); 
}