main {
    flex: 1;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 0.75rem;
    gap: 0.75em;
}

h2 {
    font-family: Ubuntu;
    font-style: normal;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 0.25em;
}

p {
    font-family: Ubuntu;
    font-style: normal;
    font-size: 0.6em;
    font-weight: 400;
    letter-spacing: 0.75px;
    line-height: 1.25em;
}

.activity-card {
    position: relative;
    font-size: clamp(1.25rem, 0.861rem + 1.78vw, 2rem);
    padding: 0.8em;
    padding-top: 1em;

    .window-component {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.content {
    position: relative;
    z-index: 1;

    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1200px;
    min-height: 25rem;
    gap: 0.5em;
}

.carousel {
    position: relative;
    height: 100%;
}

.carousel-inner {
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.25em;
    }
}

.info {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.info > span {
    margin-left: 1em;
}

@media (max-width: 700px) {
    .content {
        display: flex;
        flex-direction: column;
    }

    .carousel-inner{
        height: 150px;
    }
}