@import url('https://fonts.googleapis.com/css?family=Ubuntu:700|Ubuntu:400');

:root {
  --text: hsl(0, 0%, 0%);

  --background-50: hsl(0, 0%, 95%);
  --background-100: hsl(0, 0%, 90%);
  --background-200: hsl(0, 0%, 80%);
  --background-300: hsl(0, 0%, 70%);
  --background-400: hsl(0, 0%, 60%);
  --background-500: hsl(0, 0%, 50%);
  --background-600: hsl(0, 0%, 40%);
  --background-700: hsl(0, 0%, 30%);
  --background-800: hsl(0, 0%, 20%);
  --background-900: hsl(0, 0%, 10%);
  --background-950: hsl(0, 0%, 5%);

  --primary: hsl(16, 93%, 59%);
  --secondary: hsl(16, 96%, 72%);
  --accent: hsl(306, 51%, 38%);
}

.dark {
  --text: hsl(0, 0%, 100%);

  --background-50: hsl(0, 0%, 5%);
  --background-100: hsl(0, 0%, 10%);
  --background-200: hsl(0, 0%, 20%);
  --background-300: hsl(0, 0%, 30%);
  --background-400: hsl(0, 0%, 40%);
  --background-500: hsl(0, 0%, 50%);
  --background-600: hsl(0, 0%, 60%);
  --background-700: hsl(0, 0%, 70%);
  --background-800: hsl(0, 0%, 80%);
  --background-900: hsl(0, 0%, 90%);
  --background-950: hsl(0, 0%, 95%);

  --primary: hsl(16, 97%, 59%);
  --secondary: hsl(15, 100%, 68%);
  --accent: hsl(306, 57%, 70%);
}

/* Reseteo básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hacer que la página ocupe toda la pantalla sin scroll */
html,
body {
  color-scheme: dark;
  min-height: 100dvh;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

body {
  background-image: url("../img/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* 🔹 Barra Superior */
.top-bar {
  position: sticky;
  z-index: 1000;
  top: 0;

  display: flex;
  justify-content: space-between;
  font-size: clamp(
    1.1rem,
    0.972rem + 0.587vw,
    1.5rem
  ); /* min 350px | max 1440px*/
  align-items: center;
  background-color: var(--background-200);
  color: var(--text);
  padding: 0.3em;
}

.top-bar > .left {
  display: flex;
  height: 100%;
  gap: 0.4em;
  flex-direction: row;
  align-items: center;
}

.left > img {
  height: 1.5em;
  aspect-ratio: 1;
  border-radius: 50%;
}

.left > h1 {
  margin: 0px;
  font-style: normal;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.5;
}

@media (max-width: 380px) {
  .left > h1 {
    display: none;
  }
}

.center > p {
  font-style: normal;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.5;
}

.right {
  display: flex;
  height: 1.7em;
  gap: 0.5em;
  align-items: center;
  align-content: stretch;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  justify-content: start;
}

.right > * {
  --background-items: var(--background-300);
  --background-items-hover: var(--background-400);

  height: 100%;
  width: 100%;
  border-radius: 0.4em;
  background: var(--background-items);
  transition: background 0.3s;
  border: 0.1em solid var(--background-items-hover);
  padding: 0.05em;
}

.right > *:hover {
  background: var(--background-items-hover);
}

.right > * svg{
  cursor: pointer;
  padding: 0.05rem;
  height: 100%;
  width: 100%;
  aspect-ratio: 1;
  fill: var(--text);
}

/* Contenedor Principal */
.container {
  flex-grow: 1;
  display: flex;
}

/* Barra Lateral */
nav {
  --background: hsla(from var(--background-200) h s l / 75%);

  min-width: clamp(50px, 8dvw, 90px);
  background: var(--background);
}

nav ul {
  position: sticky;
  top: 3rem; /* TODO: Dynamically adjust the top with the total height of the top bar */

  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.3rem;
}

/* Elementos apilados en la barra lateral */
nav li {
  --background-items: var(--background-300);
  --background-items-hover: var(--background-400);

  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-items);
  border-radius: 0.5rem;
  border: 0.2rem solid var(--background-items-hover);
  cursor: pointer;
  transition: background 0.3s;
  padding: 0.1rem;
  width: 100%;
  aspect-ratio: 1;

  /* TODO: Implement active navigation item effect */
  /*&:has(.active) {
    background: hsla(from var(--background-items) h s l / 90%);
  }*/

  &:hover {
    background: var(--background-items-hover);
  }
}

.svg-container {
  height: 100%;
}

.svg-container svg { /* ! Apply in about.html and activities.html as well */
  height: 100%;
  width: 100%;
  fill: var(--text);
}

@media (max-width: 425px) {
  nav {
    position: sticky;
    top: 3rem; /* TODO: Dynamically adjust the top with the total height of the top bar */

    align-self: self-start;
    margin-top: 0.5rem;
    border-radius: 0 0.5rem 0.5rem 0;
    min-width: 1.65rem;
    min-height: 2.5rem;
    cursor: pointer; /* ! This may not work for triggering events in JS */

    &:hover {
      background-color: var(--background-400);
    }
  }

  nav::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: url("../icons/chevron_right_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg")
      no-repeat center;
    background-size: contain;
  } 

  nav * {
    display: none !important;
  }
}

/* Contenido Principal */
.content {
  flex: 1;
  display: grid;
  overflow-x: hidden;
  overflow-y: auto;
  grid-template-rows: auto 1fr; /* Define la altura de la primera columna*/
  gap: 0.5em;
  padding: 0.5em;
}

/* Primera fila */
.row:first-child {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

/* Segunda fila */
.row:last-child {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  gap: 0.5em;
  align-items: center;
}

@media (max-width: 1300px) or (max-height: 870px) {
  .row > * {
    max-width: 52rem !important;
  }

  .row:last-child {
    flex-direction: column;
    justify-content: start;
  }
}

/* Segunda fila primera columna */
.row:last-child > *:first-child {
  justify-self: end;
}

/* Segunda fila segunda columna */
.row:last-child > *:last-child:not(:first-child) {
  justify-self: start;
}
