.title-component {
    position: relative;
    font-size: clamp(1.25rem, 0.861rem + 1.78vw, 2rem);
    padding: 0.5em;
}

.title-component .window-component {
    position: absolute;
    top: 0;
    left: 0;
}

.title {
   position: relative;
   z-index: 1;

   display: flex;
   pointer-events: none;
   flex-direction: column;
   align-items: center;
   gap: 0.2em;
   
   color: var(--text);
}

.title > div:first-child {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
}

.title > div:first-child h1 {
    font-family: Ubuntu;
    font-style: normal;
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: unset;
    margin: 0;
    padding: 0;
    text-align: center;
    align-self: center;
}

.title > div:first-child img {
    height: 1.65em;
    object-fit: contain;
}

.title > h2 {
    font-family: Ubuntu;
    font-style: normal; 
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: unset;
    margin: 0;
    padding: 0;
    text-align: center;
}