.window-component {
    background: hsla(from var(--background-200) h s l / 60%);
    font-size: clamp(1.25rem, 0.861rem + 1.78vw, 2rem);
    width: 100%;
    height: 100%;
    border-radius: 0.2em;
    position: relative;
}

.window-controls {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
    gap: 0.2em;
}

.window-controls > .win-control {
    width: 0.6em;
    height: 0.6em;
    border-radius: 50%;
    background: hsla(from var(--background-200) h s l / 90%);
    transition: background 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window-controls > .win-control svg {
    fill: var(--text);
    stroke: var(--text);
    width: 100%;
    height: 100%;
}

.win-control + .maximize-icon {
    padding: 0.12em;
}

.window-controls > .win-control:hover {
    background: var(--background-400);
}

.window-controls > .win-control + .close-icon {
    background: var(--secondary);
}

.window-controls > .win-control + .close-icon:hover {
    background: var(--primary);
}