.window-component {
    background: rgba(29, 29, 29, 0.75);
    width: 100%;
    height: 100%;
    border-radius: 0.2em;
    position: relative;
}

.window-controls {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
    gap: 0.2em;
}

.window-controls > .win-control {
    width: 0.6em;
    height: 0.6em;
    border-radius: 50%;
    background: #131313;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window-controls > .win-control img {
    width: 100%;
    height: 100%;
}

.win-control + .maximize-icon {
    padding: 0.12em;
}

.window-controls > .win-control:hover {
    background: #3F3F3F;
}

.window-controls > .win-control + .close-icon {
    background: #EA5322;
}

.window-controls > .win-control + .close-icon:hover {
    background: #f78f62;
}